<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>
<body>
  <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Kriwitterthon</h1>
                        <h3>A Twitter App</h3>

 <div id ="buttons">
 <form action="SimilarFollowersResult" method = "POST" >
 <p> Retrieving Similar followers of two different User</p>
     Twitter Handle: <input type="text" style="background-color:white;  color:#000000" name="user2"><br>

  Twitter Handle: <input type="text" style="background-color:white;  color:#000000" name="user3"><br>
  
<p style="text-indent: 5em;"></p> &nbsp;&nbsp;&nbsp;&nbsp; <button style ="background-color:grey">Submit</button>


</form>
 </div>
</body>
</html>