<!DOCTYPE html>
<html>
<head>
  <title>kriwitterthon</title>
  <meta charset="utf-8" />
<link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>

 
 <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Kriwitterthon</h1>
                        <h3>A Twitter App</h3>
 
 <div id ="buttons">
     <p>Retrieving tweets of a particular User</p>
 <form action="TweetResult"  method = "POST" >
  Twitter Handle: <input type="text" style="background-color:white;  color:#000000" name="user"><br>
<p style="text-indent: 5em;"></p> &nbsp;&nbsp;&nbsp;&nbsp; <button style ="background-color:grey">Submit</button>
</form>
</div>
 
</div>
</div>
                </div>
            </div>
        </div>

</body>
</html>


 